body {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
    background: lightgrey;
}

.nav-bar {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    padding: 16px;
    border-bottom: 3px solid black;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.nav-link {
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background: black;
    color: white;
}

.course-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    margin-bottom: 0;
}

.desc {
    margin-top: 10px;
}

.small-hr {
    width: 50px;
    margin: auto;
}

.medium-hr {
    width: 50%;
    margin: auto;
}

.about {
    text-align: center;
    margin: 15px auto;
}

.contact {
    text-align: center;
    margin: 15px auto;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}