body {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
    background: lightgrey;
}

.nav-bar {
    display: grid;
    grid-template-columns: 65% repeat(3, 1fr);
    padding: 16px;
    border-bottom: 3px solid black;
}