body {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
    background: lightgrey;
}

.nav-bar {
    display: grid;
    grid-template-columns: 65% repeat(3, 1fr);
    padding: 16px;
    border-bottom: 3px solid black;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.nav-link {
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background: black;
    color: white;
}