<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preventing Corrosion | Contact</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="script" href="/script.js">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="nav-bar">
            <a class="nav-logo" href="/index.html"><div class="nav-logo">Preventing Corrosion Ltd</div></a>
            <a class="nav-link" href="/views/courses.html"><div class="nav-link">Courses</div></a>
            <a class="nav-link" href="/views/contact.html"><div class="nav-link">Contact</div></a>
            <a class="nav-link" href="/views/about.html"><div class="nav-link">About</div></a>
        </div>
    </header>

    <div class="center-screen">
        <h2 class="center-text">Contact Details</h2>
        <hr class="medium-hr">
        <h4 class="center-text">Email</h4>
        <p class="center-text">markpreventcorrosion.solutions@gmail.com</p>
    </div>
</body>
</html>

