<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preventing Corrosion | Courses</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="script" href="/script.js">
    <link rel="icon" href="">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="nav-bar">
            <a class="nav-logo" href="/index.html"><div class="nav-logo">Preventing Corrosion Ltd</div></a>
            <a class="nav-link" href="/views/courses.html"><div class="nav-link">Courses</div></a>
            <a class="nav-link" href="/views/contact.html"><div class="nav-link">Contact</div></a>
            <a class="nav-link" href="/views/about.html"><div class="nav-link">About</div></a>
        </div>
    </header>

    <div>
        <h2 class="title">TTP - Protective Coating Applicator</h2>
        <div class="course-info">
            <div>
                <h4>Course Content</h4>
                <ul>
                    <li>Health & Safety</li>
                    <li>Access Plant & Equipment</li>
                    <li>Surface Preparation</li>
                    <li>Coating Types & Application</li>
                    <li>Quality Control</li>
                </ul>
            </div>
            <div>
                <h4>Study Time</h4>
                <p>
                    5 days of in person theoretical and practical training  or online theory training followed by one day of practical training
                </p>
            </div>
        </div>
        <hr class="medium-hr">
        <h2 class="title">TTP - Spray Painting</h2>
        <div class="course-info">
            <div>
                <h4>Course Content</h4>
                <ul>
                    <li>Health & Safety</li>
                    <li>Paint Materials</li>
                    <li>Airless spray equipment</li>
                    <li>Conventional Spray</li>
                    <li>Plural component spray</li>
                </ul>
            </div>
            <div>
                <h4 class="title">Study Time</h4>
                <p class="desc">
                    2 days in person training or online followed by one day of practical training
                </p>
                <h4 class="title">Prerequisite</h4>
                <p class="desc">
                    Completion of Protective Coating Applicator
                </p>
            </div>
        </div>
        <hr class="medium-hr">
        <h2 class="title">TTP - Abrasive Blast Cleaning</h2>
        <div class="course-info">
            <div>
                <h4>Course Content</h4>
                <ul>
                    <li>Health & Safety</li>
                    <li>Blast Media</li>
                    <li>Standards & Quality Control</li>
                    <li>Operational Procedures</li>
                    <li>Process Control</li>
                </ul>
            </div>
            <div>
                <h4 class="title">Study Time</h4>
                <p class="desc">
                    2 days in person training or online followed by one day of practical training
                </p>
                <h4 class="title">Prerequisite</h4>
                <p class="desc">
                    Completion of Protective Coating Applicator
                </p>
            </div>
        </div>
        <hr class="medium-hr">
        <h2 class="title">TTP - Coating Supervisor</h2>
        <div class="course-info">
            <div>
                <h4>Course Content</h4>
                <ul>
                    <li>Duties of a supervisor</li>
                    <li>Material health & safety data sheets</li>
                    <li>COSHH assessment, risk assessment<br> and method statements</li>
                    <li>Painting specifications</li>
                    <li>ISO and other standards</li>
                    <li>Product data Sheet</li>
                    <li>Basic paint technology</li>
                    <li>Paint failure</li>
                    <li>Paint inspection – theoretical inspection reports,<br> logs plus practical inspection methods</li>
                </ul>
            </div>
            <div>
                <h4 class="title">Study Time</h4>
                <p class="desc">
                    A 2 day online Zoom course
                </p>
                <h4 class="title">Prerequisite</h4>
                <p class="desc">
                    Train the painter Bronze card or equivalent
                </p>
                <h4 class="title">Assessment Centre</h4>
                <p class="desc">
                    3 Garwood street industrial container yard, South Shields. <br>
                    Town Hall Chambers, 7 Beach Rd, South Shields NE33 2QA
                </p>
                <h4 class="title">Course Dates</h4>
                <p class="desc">
                    21st Jun 2022, 16th Aug 2022, 18th Oct 2022, 13th Dec 2022
                </p>
            </div>
        </div>
    </div>
</body>
</html>
